.log-auth-form{
    background-color: #cafa94;
    position: relative;
    height: auto;
    max-width: 350px;
    margin: 135px auto;
    border-radius: 20px;
    height: 60vh;
    text-align: center;
}

.log-auth-form h2{
    position: relative;
    top:14px;
    margin-bottom: 38px;
}